/* Index */

.h-100vh {
  height: 100vh;
}

.w-100 {
  /* width: 100%; */
}

.h-50vh {
  /* height: 50vh; */
}

.bold {
  font-weight: bold;
}

.bg-starwars {
  background-image: url(../assets/images/fondo-starwars.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
